.DS_Store
.actionScriptProperties
.flexLibProperties
.project
.settings

ANESampleSWC/bin

ANESampleJava/bin
ANESampleJava/ANESample.jar

ANESampleBuild/Android-ARM/
ANESampleBuild/com.adobe.sampleasextension.SampleASExtension.ane

TEST_AndroidAIR/deploy
